/*////////// logo //////////*/
.logo {
  width: 800px;
  position: absolute;
  left: 0; right: 0;
  top: 100px;
  margin: auto;
}
.logo>img {
  width: 100%;
}

/*////////// start button //////////*/
.btn_start{
  width: 100px;
  padding: 30px 100px;
  color: #fff;
  position: absolute;
  text-decoration: none;
  display:inline-block; 
  left: 0; right: 0;
  bottom: 100px;
  margin: auto;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase !important;
  letter-spacing: 3px;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  border: 8px solid #fff;
  border-radius:50px;
  overflow: hidden!important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #eca744 !important;
  z-index:10;
}

.btn_start:hover{
  border: 8px solid #eca744;
	color: #000000 !important;
}
.btn_start::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #fff;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.btn_start::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #195297;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn_start:hover::before, .btn_start:hover::before{
	opacity:1;
	width: 116%;
}
.btn_start:hover::after, .btn_start:hover::after{
	opacity:1;
	width: 120%;
}



